<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @author.firstname %>
</p>

<%= link_to "Ajouter un livre", new_author_book_path(@author) %>

<%= link_to 'Edit', edit_author_path(@author) %>
<%= link_to 'Back', authors_path %>
