<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.firstname + ' ' + @book.author.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @book.quote %>
</p>

<p>
  <strong>Cover:</strong>
  <img class="cover" src="<%= @book.cover %>" alt="">
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
