<!DOCTYPE html>
<html>
  <head>
    <title>Omg Les Bouquins</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <header>
      <nav>
        <ul>
          <li>
            <%= link_to 'Auteurs & autrices', authors_path %>
          </li>
          <li>
            <%= link_to 'Livres', books_path %>
          </li>
          <% if current_user %>
            <li>
              <%= link_to 'Ajouter un livre', new_book_path %>
            </li>
            <li>
              <%= link_to current_user.email, current_user %>
            </li>
            <li>
              <%= link_to 'Compte', edit_user_registration_path %>
            </li>
            <li>
              <%= button_to "logout", destroy_user_session_path, method: :delete  %>
            </li>
            <% else %>
            <li>
              <%= button_to new_user_session_path do %>se connecter<% end %>
            </li>
            <li>
              <%= link_to 'Inscription', new_user_registration_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
